:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --double-accent-color: #2196f3;
  --background-fon-color: #2f303a;
  --second-transparent-color: color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
/* logo*/
.logo {
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.accent-logo {
  color: #000000;
}

/* site-nav */
.site-nav .nav-link {
  color: var(--title-text-color);

  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

/* Contact-nav */
.contact .nav-link {
  text-decoration: none;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .nav-link:hover,
.contact .nav-link:focus {
  color: var(--accent-color);
}
/* Button */
.button {
  color: var(--second-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  color: var(--second-color);
  background-color: var(--double-accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--second-color);
 
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
}

/*Hero*/
.hero {
  background: var(--background-fon-color);
}
.hero-title {
  color: var(--second-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Feature */
.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Team*/
.team .team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team .text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Footer*/
.page-footer {
  background: var(--background-fon-color);
}
.accent-logo-footer {
  color: var(--second-color);
}
/*Address Footer*/
.address {
  font-style: normal;
}
.address-nav .address-link {
  color: var(--second-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

text-decoration: none;
}
 .address-nav .nav-link {
  color: var(--second-transparent-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}

/*Меню*/
.work .work-title {
    color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work .work-text {

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
/* лого #000000 */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #ECECEC */ ;
